{{#partial "content"}}

    <h1>Team Tracker!</h1>

    {{#if teams}}
        <p><img src="/images/smile.jpeg" width="20%"></p>
        {{#each teams }} <!--loop-->
        <p>{{ teamName }}  <a href="/team/{{id}}"></a> </p> <!--show-->
        {{/each}}
    {{else}}
        <p>Please Add team names and member names by choosing above options!</p>
    {{/if}}

    {{#if members}}
        <p><img src="/images/smile.jpeg" width="20%"></p>
        {{#each members }} <!--loop-->
        <p>{{ description }}  <a href="/member/{{id}}"></a> </p> <!--show-->
        <p>{{ createdAt }}</p> <!--show-->
        {{/each}}
    {{else}}
        <p></p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}

