{{#partial "content"}}

    <h1>Registration Confirmed. New member has been added to team!</h1>


        {{#each descriptions }} <!--loop-->
        <p>{{ memberName }}  <a href="/members/{{id}}"> </a> </p> <!--show-->
        <p>{{ createdAt }}</p> <!--show-->
        {{/each}}
    <p>{{ meaning }}</p>
    {{#each teamMembers }} <!--loop-->
    <p>{{this}}  <a href="/members/{{id}}"> </a> </p> <!--show-->

    {{/each}}



    <a href="/">Go Back</a>
{{/partial}}

{{> layout.hbs}}